* {
    margin: 0;
    padding: 0;
    font-family: "REM", sans-serif;
}

header {
    width: 100%;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.442);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

header .logo {
    margin: 25px 80px;
}

header nav {
    width: 40%;

}

header nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 17px;
    font-weight: 500;

}

header nav ul li a {
    color: black;
    text-decoration: none;

}

header nav ul li a:hover {
    color: #EA580C;
    transition: 0.1s;
}

header nav ul li i {
    color: black;
    font-size: 13px;
}

header nav ul li i:hover {
    color: #EA580C;
    transition: 0.2s;
}

header nav ul .home {
    color: #EA580C;
}

header nav ul li .opened-window {
    display: none;
    position: absolute;
    width: auto;
    border: 1px solid rgba(118, 118, 118, 0.277);
    box-shadow: 0 0 3px rgb(170, 170, 170);
    border-radius: 5px;
    background-color: white;

}

header nav ul li .opened-window li {
    padding: 9px 50px 5px 15px;
    font-size: 15px;
    margin: 7px;

}

header nav ul li:hover .opened-window {
    display: block;

}

header nav ul li .opened-window li:hover {
    background-color: rgba(128, 128, 128, 0.137);
    border-radius: 5px;
}

header nav ul li .opened-window li a:hover {
    color: black;
}

header nav ul li .opened-window .highlighted {
    color: #EA580C;

}

header nav ul li .opened-window .highlighted:hover {
    color: #EA580C;

}

header .download-button {
    margin: 30px 80px;
}

header .download-button button {
    padding: 9px 30px;
    border: none;
    border-radius: 25px;
    background-color: #EA580C;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

header .download-button button:hover {
    background-color: #af440a;

}